<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>PULIP</title>
    <script>

    </script>
    <link rel="stylesheet" href="<%= BASE_URL %>cdn/css/swiper.min.css">
    <script src="<%= BASE_URL %>cdn/js/swiper.min.js"></script>
  </head>
  <body>
    <div style="width:100%; height:100%; text-align:center; overflow:hidden;">
        <img style="margin:120px auto 0px; width:534px;" alt="Oops! 해당 사이트는 브라우저 크롬, 파이어폭스, 사파리, 엣지, 익스플로러 11에서 정상 작동합니다. 이외 낮은 버전의 브라우저를 사용하실 경우, 이용이 어려운 점 양해 바랍니다." src="browser.png">
    </div>
    <noscript>
      <strong> We're sorry but vue-starter doesn't work properly without JavaScript enabled. Please enable it to continue. </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
